// This is the root SCSS file that imports everything.
// It’s the file you actually include in your app.
// Base
// @import "./base/reset";
// @import "./base/typography";
// @import "./base/global";

// // Utils
// @import "./utils/variables";
// @import "./utils/mixins";

// // Themes (default load light, switch dynamically in React)
// @import "./theme/light";

// // Components & Layouts
// @import "./components/buttons";
// @import "./layouts/header";

@use "./base/global";
@use "./utils/mixins";
@use "./utils/functions";

:root {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --text-color: #222222;
}

[data-theme="dark"] {
  --primary-color: #0d6efd;
  --background-color: #121212;
  --text-color: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Usage
body {
  background: var(--background-color);
  color: var(--text-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
